<div class="user" *ngIf="user">
  <h2>User Details <mat-icon>account_circle</mat-icon></h2>
  <p>Name: {{ user.name }}</p>
  <p>Email: {{ user.email }}</p>

  <p>{{ user.name }} Posts:</p>

  <ng-container *ngFor="let post of posts; let i = index">
    <mat-card class="posts">
      <mat-icon>account_circle</mat-icon>
      <h4>Title: {{ post.title }}</h4>
      <h5>{{ post.body }}</h5>
      <br />
      <!-- Form for creating a comment for this post -->
      <form class="form" (submit)="createComments(post.id)">
        <mat-form-field>
          <textarea
            matInput
            placeholder="Write your comment here"
            [(ngModel)]="newCommentText[i]"
            name="newCommentText"
          ></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Send <mat-icon class="send">send</mat-icon>
        </button>
      </form>
      <br />
      <!-- Closing form tag moved here -->
      <p class="comment-title">Comments:</p>
      <div *ngFor="let comment of commentsMap[post.id]">
        <mat-card class="comments">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title class="comment-name"
                >{{ comment.name }}
              </mat-card-title>
              <mat-card-subtitle>{{ comment.email }}</mat-card-subtitle>
              <mat-icon>account_circle</mat-icon>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content class="comment-body">
            {{ comment.body }}
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-button>
              <mat-icon>comment</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-card>
  </ng-container>
</div>
