<div class="container">
  <br />
  <h1>URBAN CITY LIFE</h1>
  <div class="home">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="title"> NTT Data Project </mat-card-title>

          <mat-card-subtitle class="subtitle">
            The Urban Life Project, in collaboration with s2impact
            University</mat-card-subtitle
          >

          <img
            class="image"
            mat-card-sm-image
            src="../../assets/imgs/urban.jpg"
          />
        </mat-card-title-group>
      </mat-card-header>

      <mat-card-content class="content">
        <h2 class="content">
          The company that commissioned the development of this application aims
          to improve the lives of people in urban centers, so that cities become
          increasingly centers for new ideas, commerce, culture, science,
          productivity, and social development. The application will be free,
          allowing people to register and share their ideas and reports via
          posts, primarily contributing to:
        </h2>

        <ul>
          <li>
            &#8226;Protecting and safeguarding the city's cultural heritage.
          </li>
          <li>
            &#8226;Protecting and safeguarding the city's natural heritage.
          </li>
          <li>
            &#8226;Supporting positive social and environmental connections
            between urban areas.
          </li>
        </ul>

        <h4 class="content">
          "The application is part of a start2impact university project in
          collaboration with NTT Data. To access it, registration or login is
          required, followed by careful adherence to the required steps."
        </h4>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<footer class="footer">
  <p>
    &copy; 2024 Davide Siracusano, my Github:
    <a href="https://github.com/DavideSiracusano" target="_blank">
      <mat-icon
        ><span class="material-symbols-outlined">
          rocket_launch
        </span></mat-icon
      ></a
    >
  </p>
</footer>
